
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  color: #2fc9c9;
  background-color: rgb(40, 47, 58);
}

.border {
  border: 0px solid #ccc;
  border-radius: 10px;
}

.velopanel {
  width: 200px;
  display: inline-block;
  margin-top: 30px;
  color: white;
  text-align: center;
}
.value {
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
  font-size: 40px;
  margin-top: 10px;
}

.what {
  color: #2d9c23;
}